:root {
  /* --vt-c-brand: var(--vp-c-green);
  --vt-c-brand-light: var(--vp-c-green-light);
  --vt-c-brand-dark: var(--vp-c-green-dark); */
  --vp-c-green: #4464f0;
  --vp-c-green-light: #6382fd;
  --vp-c-green-dark: #2442c7;
  --vp-c-green-dimm-1: rgba(68, 100, 240, 0.5);
  --vp-c-brand-soft: rgba(68, 100, 240, 0.08);
  --vt-c-green: #4464f0;
  --vt-c-green-light: #6382fd;
  --vt-c-green-dark: #2442c7;

  --vp-custom-block-tip-border: var(--vp-c-green-dimm-1);
  --vp-c-brand-1: var(--vp-c-green);
  --vp-c-brand-2: var(--vp-c-green-light);
  --vp-c-brand-3: var(--vp-c-green-dark);
}

.vp-doc a {
  text-decoration: inherit;
}

@media (min-width: 1440px) {
  .VPDoc:not(.has-sidebar) .content {
    max-width: 1200px !important;
  }

  .VPDoc:not(.has-sidebar) .container {
    max-width: 1400px !important;
  }
}

.VPDoc.has-aside .content-container {
  max-width: 1080px !important;
}
